<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.team.g2.fundboard.mapper.FundReplyMapper">

    <insert id="insert">
        insert into tbl_fund_reply(fno, freplyer, freply)
        values (#{fno},#{freplyer},#{freply})
    </insert>

    <update id="update">
        update tbl_fund_reply set freply = #{freply}, fmoddate = now()
        where frno = #{frno}
    </update>

    <delete id="delete">
        delete from tbl_fund_reply where frno = #{frno}
    </delete>

    <select id="getListWithFundBoard" resultType="org.team.g2.fundboard.domain.FundReply">
        select * from tbl_fund_reply where fno = #{fno} order by frno asc
    </select>
</mapper>